<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Emitir factura</title>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/factura.css') }}">
    </head>
    <body>
        <form class="form-fact" action="/Factura" method="POST">
            <h5>Factura</h5>
            <input class="controls" type="text" name="Id_factura" id="Id_factura"  placeholder="Correlativo Factura">
            <input class="controls" type="text" name="Nit" id="Nit" placeholder="NIT">
            <input class="controls" type="date" name="fecha" id="fecha" placeholder="Fecha">
            <input class="controls" type="text" name="motivo" id="motivo" placeholder="Motivo">
            <input class="controls" type="text" name="Id_Producto" id="Id_Producto" placeholder="Producto">
            <input class="controls" type="text" name="valoru" id="valoru" placeholder="Valor">
            <input class="controls" type="number" name="cantidad" id="cantidad" placeholder="Cantidad">
            <input class="controls" type="text" name="total" id="total" placeholder="Total">
            <input class="controls" type="text" name="observaciones" id="observaciones" placeholder="Observaciones">
            <button class="buttons" type="submit">Generar Factura</button>
        </form>
    </body>
</html>